{% load static %}
<!DOCTYPE html>
<html>
    {% include "layout.html" %}  
    <head>
        <title>Resume</title>
    </head>
    <body class="resume">

        <section id="res">
            <h1 id="name">LAURA WILSON</h1>
            <div id="resinfo" style="text-align: center"> Girard, PA | ljw5533@psu.edu | github.com/LauraW0622 |
                linked.com/in/laura-wilson-96321419a </div>
            <hr>
            <section class="education">
                <h3>EDUCATION</h3>
                <h4>SOFTWARE ENGINEERING | Bachelor of Science</h4>
                <h4>The Pennsylvania State University</h4>
                
                <div class="edu">
                    <p id="gpa">GPA 3.29/4.00</p>
                    <p id="dean">Dean's List: Sprin 2022 - Fall 2023</p>
                </div>
            </section>
            <section class="revcourses">
                <h3>RELEVANT COURSEWORK</h3>
                    <table class="courses">
                        <tr>
                            <td>Object-Oriented Software Design</td>
                            <td>Communication Networks</td>
                            <td>VHDL Digital Design</td>
                        </tr>
                        <tr>
                            <td>Technical Writing</td>
                            <td>Microprocessors</td>
                            <td>Data Structures & Algorithms</td>
                        </tr>
                        <tr>
                            <td>Software Testing</td>
                            <td>Programming Language Concepts</td>
                            <td>Software Architecture</td>
                        </tr>
                        <tr>
                            <td>Machine Learning</td>
                            <td>Introduction to Computer Security</td>
                            <td>Embedded Systems</td>
                        </tr>
                        <tr>
                            <td>Database Management</td>
                            <td>Netcentric Computing</td>
                            <td>Operating Systems</td>
                        </tr>
                    </table>
            </section>
            <section class="projects">
                <h3>PROJECTS</h3>
                <div class="seniordes">
                    <h4 id="swengcap">SOFTWARE ENGINEERING CAPSTONE</h4>
                    <h4 id="swengprojdate">FALL 2023 - SPRING 2024</h4>
                </div>
                <p>BONE CHECKER: REAL-TIME IDENTIFICATION OF BONE REMAINS</p>
                <ul class="descript">
                    <li>Leveraged AI image processing using convolutional neural networks to process
                        capture or uploaded photo of bone remains with an accuracy greater than
                        80%</li>
                </ul>
                <div class="duck">
                    <h4 id="duckproj">DUCK PROJECT FOUNDER</h4>
                    <h4 id="duckdates">SPRING 2023</h4>
                </div>
                <p>RUBBER DUCK DEBUGGING AWARENESS</p>
                <ul class="descript">
                    <li>Strategically placed rubber ducks across campus, each accompanied by a brief
                        accreditation to the minds behind the methodology and explanation of
                        technique</li>
                    <li>Promoted critical thinking skills among students by encouraging them to
                        engage with the ducks to apply logic-based problem solving</li>
                    <li>Received positive feedback from fellow students and faculty for fostering
                        critical thinking within student population</li>
                </ul>
            </section>
            <section class="experience">
                <h3>EXPERIENCE</h3>
                <div class="wabtec">
                    <h4 id="wabtecpos">WABTEC | Erie, PA</h4>
                    <h4 id="wabtecdates">MAY 2023 - PRESENT</h4>
                </div>
                <p>INTERN/CO-OP</p>
                <ul class="descript">
                    <li>Developed web tool to track regression and validation testing, enhancing
                        efficiency for the Locomotive Propulsion and Train Control teams </li>
                    <li>Designed and implemented new structures, optimizing the existing database to
                        accommodate tool requirements</li>
                    <li>Utilized Django Framework to create intuitive graphical user interface to
                        import and export regression and validation test lists for improved data
                        management </li>
                </ul>
            </section>
            <section class="skills">
                <h3>SKILLS</h3>
                    <table class="skills">
                        <tr>
                            <th>PROFICIENCY</th>
                            <th>EXPERIENCE</th>
                        </tr>
                        <tr>
                            <td>JAVA | C++ | C# | C | Python | SQL | Javascript</td>
                            <td>HTML | CSS | VHDL | Assembly</td>
                        </tr>
                        <tr>
                            <td>Ubuntu | Windows</td>
                            <td>MAC</td>
                        </tr>
                        <tr>
                            <td>JetBrains Tools | Visual Studio Code | Google CoLab</td>
                            <td>Android Studio | Spyder | Anaconda</td>
                        </tr>
                        <tr>
                            <td>Git| Github | Gitlab</td>
                            <td>BitBucket</td>
                        </tr>
                        <tr>
                            <td>DevOps | Agile</td>
                            <td>Waterfall</td>
                        </tr>
                        <tr>
                            <td>Django</td>
                            <td>Maven | Spring</td>
                        </tr>
                    </table>           
            </section>
            <section class="volunteer">
                <h3>VOLUNTEER WORK</h3>
                <div>
                    <p>Volunteer at Girard School District | Girard High School Band Crewmember |
                        Girard High School Band Booster</p>
                </div>
            </section>
        </section>
    </body>
</html>
